{{> header}}
<!-- MAIN CONTENT -->
<div id="main">
    <div id="left">
        <div id="round_number"></div>
        <div>Players</div>
        <div id="player_count_display">{{playersInCount}}/{{playerCount}}</div>
    </div>
    <div id="center">
        <div id="clock"></div>
        <div id="current_level"></div>
        <div id="next_level"></div>
        <button id="start_button"><i class="fas fa-play"></i></button>
    </div>
    <div id="right">
        <div>Chip count</div>
        <div id="chip_count">0</div>
<div>Average</div>
        <div id="average">0</div>
    </div>
</div>
<div id="count_display">
<span class="buyin_count">Buy-in: {{playerCount}}</span> 
<span class="rebuy_count">Rebuy: {{rebuyCount}}</span>
    <span class="addon_count">Addon: {{addonCount}}</span>
</div>
<div id="main_footer">
    <div>Pot total</div>
    <span>R$ </span><span id="pot_total">0</span>
</div>

