{{> header}}

{{#if error}}
<p>{{error}}</p>
{{/if}}

<!-- Form for searching and adding players -->
<form autocomplete="off" method="post" action="/search-player">
  <div id="add_player_menu">
    <div id="player_menu_content">
      <label for="search_player_name">Search Player by Name</label>
      <input type="text" id="search_player_name" name="playerName">
      <button type="submit" id="search_player_button">Search Player</button>
      <div id="search_results">
        {{#if players}}
          <ul>
            {{#each players}}
              <li data-player-id="{{id}}">
                {{name}} (ID: {{id}})
                <button type="button" class="register_player_button" data-player-id="{{id}}">Register</button>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if error}}
          <p>{{error}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</form>

<!-- Player structure menu -->
<div id="player_structure_menu">
  <div id="players_in">
    <h2>Players In</h2>
    <ul>
      {{#each players_in}}
        <li data-player-id="{{Player.id}}">
          {{Player.User.name}}
<button type="button" class="update_player_button" data-player-id="{{Player.id}}">Update</button>
          <button type="button" class="eliminate_player_button" data-player-id="{{Player.id}}">Eliminate</button>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="players_out">
    <h2>Players Out</h2>
    <ul>
      {{#each players_out}}
<li data-player-id="{{Player.id}}">{{Player.User.name}} (Position: {{position}})</li>
      {{/each}}
    </ul>
  </div>
</div>
